<div class="container">
    <div class="row">

        <h1>Eat-Da-Burger!</h1>
        <p>You love burgers! You've stuffed your face with several burgers, but you have an insatiable appetite and lust for
            more. Throw up the burgers on the left and consume the uneated ones on the right. Ya pig!</p>
        <div class="col-sm-4">

            <h2>Burgers you've eaten!</h2>

            <ul>
                {{#each burgers}} {{#unless this.devoured}}
                <li>
                    {{this.burger_name}}

                    <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="1">
                        <button class="btn" type="submit">PUKE!</button>
                    </form>
                </li>
                {{/unless}} {{/each}}
            </ul>
        </div>

        <div class="col-sm-4">
            <h2>Burgers to devour!</h2>
            <ul>
                {{#each burgers}} {{#if this.devoured}}
                <li>
                    {{this.burger_name}}

                    <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="0">
                        <button class="btn" type="submit">DEVOUR!</button>
                    </form>
                </li>
                {{/if}} {{/each}}
            </ul>
        </div>

        <div class="col-sm-4">
            <h2>Add a Burger</h2>
            <form class="create-update-form" action="burgers/create" method="POST">

                <div class="form-group">
                    <label for="bu">Burger Name:</label>
                    <input type="text" id="bu" name="burger_name">
                </div>

                <div class="form-group">
                    <label for="slee">Devoured?</label>
                    <br>
                    <input type="radio" name="devoured" value="0" checked> Devoured
                    <br>
                    <input type="radio" name="devoured" value="1"> Not Devoured
                </div>

                <button type="submit" class="btn btn-primary">Add Burger</button>
            </form>
        </div>

    </div>
</div>